workflow/n8n_job_automation_workflow.json
{
  "name": "Job Search Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Adzuna doesn't handle long OR queries well, so we run multiple searches\nconst queries = [\n  'machine learning',\n  'computer vision',\n  'deep learning',\n  'software engineer',\n  '3D engineer',\n  'rendering engineer',\n  'python developer'\n];\n\nconst appId = $env.ADZUNA_APP_ID;\nconst appKey = $env.ADZUNA_KEY;\nconst allResults = [];\n\nfor (const q of queries) {\n  try {\n    const url = `https://api.adzuna.com/v1/api/jobs/fr/search/1?app_id=${appId}&app_key=${appKey}&results_per_page=20&what=${encodeURIComponent(q)}&where=France&max_days_old=3&content-type=application/json`;\n    const response = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    if (response.results) {\n      allResults.push(...response.results);\n    }\n  } catch(e) {\n    // Skip failed queries\n  }\n}\n\nreturn [{ json: { results: allResults, count: allResults.length, __CLASS__: 'Adzuna::API::Response::JobSearchResults' } }];"
      },
      "id": "adzuna",
      "name": "Adzuna Job Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// SerpAPI Google Jobs requires hl=fr&gl=fr for French results\n// Run multiple queries to maximize coverage (free tier: 100 searches/month)\nconst queries = [\n  'computer vision engineer',\n  'machine learning engineer',\n  'software engineer python',\n  'ingenieur deep learning'\n];\n\nconst apiKey = $env.SERPAPI_KEY;\nconst allJobs = [];\n\nfor (const q of queries) {\n  try {\n    const url = `https://serpapi.com/search.json?engine=google_jobs&q=${encodeURIComponent(q)}&location=Paris,+France&hl=fr&gl=fr&chips=date_posted:3days&api_key=${apiKey}`;\n    const response = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    if (response.jobs_results) {\n      allJobs.push(...response.jobs_results);\n    }\n  } catch(e) {\n    // Skip failed queries\n  }\n}\n\nreturn [{ json: { jobs_results: allJobs, count: allJobs.length } }];"
      },
      "id": "serpapi",
      "name": "Google Jobs via SerpAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normalize jobs from all 6 sources into a common format\nlet adzunaItems = [];\ntry { adzunaItems = $('Adzuna Job Search').first().json.results || []; } catch(e) {}\nlet serpItems = [];\ntry { serpItems = $('Google Jobs via SerpAPI').first().json.jobs_results || []; } catch(e) {}\nlet ftItems = [];\ntry { ftItems = $('France Travail').first().json.results || []; } catch(e) {}\nlet remotiveItems = [];\ntry { remotiveItems = $('Remotive').first().json.jobs || []; } catch(e) {}\nlet arbeitnowItems = [];\ntry { arbeitnowItems = $('Arbeitnow').first().json.data || []; } catch(e) {}\nlet jsearchItems = [];\ntry { jsearchItems = $('JSearch').first().json.data || []; } catch(e) {}\n\nconst jobs = [];\nconst seen = new Set();\n\nfunction dedupKey(title, company) {\n  return `${(title || '').toLowerCase().trim()}|${(company || '').toLowerCase().trim()}`;\n}\n\n// Adzuna\nfor (const job of adzunaItems) {\n  const key = dedupKey(job.title, job.company?.display_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company?.display_name || '',\n    location: job.location?.display_name || '',\n    description: job.description || '',\n    url: job.redirect_url || '',\n    salary_min: job.salary_min || null,\n    salary_max: job.salary_max || null,\n    source: 'Adzuna',\n    date_posted: job.created || '',\n  });\n}\n\n// Google Jobs (SerpAPI)\nfor (const job of serpItems) {\n  const key = dedupKey(job.title, job.company_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company_name || '',\n    location: job.location || '',\n    description: job.description || '',\n    url: job.apply_options?.[0]?.link || job.share_link || '',\n    salary_min: null,\n    salary_max: null,\n    salary_text: job.detected_extensions?.salary || null,\n    source: 'Google Jobs',\n    date_posted: job.detected_extensions?.posted_at || '',\n  });\n}\n\n// France Travail\nfor (const job of ftItems) {\n  const key = dedupKey(job.intitule, job.entreprise?.nom);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.intitule || '',\n    company: job.entreprise?.nom || '',\n    location: job.lieuTravail?.libelle || '',\n    description: job.description || '',\n    url: job.origineOffre?.urlOrigine || `https://candidat.francetravail.fr/offres/recherche/detail/${job.id}`,\n    salary_min: null,\n    salary_max: null,\n    salary_text: job.salaire?.libelle || null,\n    source: 'France Travail',\n    date_posted: job.dateCreation || '',\n  });\n}\n\n// Remotive\nfor (const job of remotiveItems) {\n  const key = dedupKey(job.title, job.company_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company_name || '',\n    location: job.candidate_required_location || 'Remote',\n    description: job.description || '',\n    url: job.url || '',\n    salary_min: null,\n    salary_max: null,\n    salary_text: job.salary || null,\n    source: 'Remotive',\n    date_posted: job.publication_date || '',\n  });\n}\n\n// Arbeitnow\nfor (const job of arbeitnowItems) {\n  const key = dedupKey(job.title, job.company_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company_name || '',\n    location: job.location || (job.remote ? 'Remote' : ''),\n    description: job.description || '',\n    url: job.url || `https://www.arbeitnow.com/view/${job.slug}`,\n    salary_min: null,\n    salary_max: null,\n    source: 'Arbeitnow',\n    date_posted: job.created_at ? new Date(job.created_at * 1000).toISOString() : '',\n  });\n}\n\n// JSearch (LinkedIn, Indeed, Glassdoor aggregated)\nfor (const job of jsearchItems) {\n  const key = dedupKey(job.job_title, job.employer_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.job_title || '',\n    company: job.employer_name || '',\n    location: [job.job_city, job.job_state, job.job_country].filter(Boolean).join(', '),\n    description: job.job_description || '',\n    url: job.job_apply_link || '',\n    salary_min: job.job_min_salary || null,\n    salary_max: job.job_max_salary || null,\n    source: 'JSearch',\n    date_posted: job.job_posted_at_datetime_utc || '',\n  });\n}\n\nconsole.log(`[Normalize] Adzuna(${adzunaItems.length}) SerpAPI(${serpItems.length}) FranceTravail(${ftItems.length}) Remotive(${remotiveItems.length}) Arbeitnow(${arbeitnowItems.length}) JSearch(${jsearchItems.length}) => ${jobs.length} unique`);\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "normalize",
      "name": "Normalize & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Job Tracker"
        },
        "options": {}
      },
      "id": "read_sheet",
      "name": "Read Existing Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        650,
        1100
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter out already-processed jobs + deduplicate within batch\nconst MAX_PER_RUN = 15;\n\n// Build dedup set from existing sheet rows\nconst existingKeys = new Set();\nlet sheetRowCount = 0;\n\ntry {\n  const sheetItems = $('Read Existing Jobs').all();\n  sheetRowCount = sheetItems.length;\n  for (const item of sheetItems) {\n    const d = item.json;\n    if (!d || Object.keys(d).length === 0) continue;\n    const role = String(d['Role'] || d['role'] || '').toLowerCase().trim();\n    const company = String(d['Company'] || d['company'] || '').toLowerCase().trim();\n    const location = String(d['Location'] || d['location'] || '').toLowerCase().trim();\n    if (role || company) existingKeys.add(`${role}|${company}|${location}`);\n  }\n} catch(e) {\n  console.log('[Filter] WARNING: Could not read existing jobs: ' + e.message);\n}\n\nconst allNormalized = $('Normalize & Deduplicate').all();\n\n// Deduplicate WITHIN this batch (Normalize may run multiple times due to n8n\n// executing once per source connection — this removes the duplicates)\nconst batchSeen = new Set();\nconst newJobs = allNormalized.filter(item => {\n  const j = item.json;\n  const key = `${(j.title || '').toLowerCase().trim()}|${(j.company || '').toLowerCase().trim()}|${(j.location || '').toLowerCase().trim()}`;\n\n  // Skip duplicates within this batch\n  if (batchSeen.has(key)) return false;\n  batchSeen.add(key);\n\n  // Skip if already in sheet\n  if (existingKeys.has(key)) return false;\n  return true;\n});\n\nconsole.log(`[Filter] Input: ${allNormalized.length} (with dupes) | Unique: ${batchSeen.size} | In sheet: ${existingKeys.size} | New: ${newJobs.length} (max ${MAX_PER_RUN})`);\n\nif (newJobs.length === 0) return [];\nreturn newJobs.slice(0, MAX_PER_RUN);"
      },
      "id": "filter_existing",
      "name": "Filter Already Processed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── Groq tailoring (30 RPM, 1000 RPD, 100K TPD free tier) ───────────────────\nconst items = $input.all();\nconst apiKey = $env.GROQ_API_KEY;\nconst MODEL = 'llama-3.3-70b-versatile';\n\nasync function tailorJob(item) {\n  const job = item.json;\n  const systemPrompt = 'You are a resume tailoring assistant. You always respond with valid JSON only, no markdown.';\n  const userPrompt = `Given a job posting and a candidate resume, produce a tailored version that reorders and reweights content to match the job.\n\nJOB POSTING:\nTitle: ${job.title}\nCompany: ${job.company}\nDescription: ${(job.description || '').substring(0, 2000)}\nIdentify and incorporate relevant ATS keywords from the job description.\n\nCANDIDATE EXPERIENCE (pick 2-3, reorder by relevance, expand into 3-4 polished bullets each):\n\n1. Computer Vision R&D Engineer | GoPro | Paris | Mar 2025 -- Sep 2025\n   Sim-to-Real DL pipeline for 360 stitching parallax fix; procedural synthetic dataset generation in Blender Python API; custom PyTorch model beating production baseline; >50% processing time reduction\n\n2. Chief Technical Officer | BargMe Startup | Remote | Jan 2023 -- Nov 2024\n   Led multidisciplinary team building Sawem web/mobile shopping assistant; barcode recognition via smartphone camera; AI-based recommendation engine (Python, Scikit-learn, Pandas); deployed on Debian VPS; cross-platform mobile via React Native\n\n3. Data Management & Software Optimization Intern | Caisse d'Epargne IDF | Paris | Aug 2024 -- Sep 2024\n   Performance testing and flaw detection for internal banking software; client data sheet management; data organization and reporting improvements\n\n4. Technical Content Creator (3D & AI) | SkillDino (InspirationTuts) | Remote | Jan 2022 -- Dec 2023\n   Educational content on 3D modeling, VFX, AI trends for 300K+ subscribers; tutorials on CV techniques (object tracking, AR) in Blender/Unity/OpenCV workflows\n\n5. Full Stack & Automation Engineer | ENTMV | Algiers | Feb 2022 -- Jun 2022\n   Web app for document management automation; digitization of admin documents; MERN Stack (MongoDB, Express.js, React.js, Node.js)\n\nPROJECTS (pick 2-3, reorder by relevance, expand into 2-3 polished bullets each):\n\n1. Automated Job Search Pipeline | n8n, MCP, Agentic AI, Python, Docker | 2025\n   Built end-to-end agentic automation: scrapes 6 job APIs, LLM-tailors resume per job, compiles LaTeX PDF, uploads to Drive, logs to Sheets, sends email digest; self-hosted n8n with MCP server integration\n\n2. Mistral Msg: LLM Messaging App | Next.js, TypeScript, Mistral AI API | Nov 2024\n   Real-time messaging with AI context-based reply suggestions and prompt-based rewriting; LLM API integration in production web app\n\n3. License Plate Detection in Dusty Env | YOLOv8, EasyOCR, Data Augmentation | May 2024\n   YOLOv8 detection + EasyOCR recognition in harsh conditions; data augmentation (flip, crop, rotate, blur); benchmarked HOG+SVM vs deep learning\n\n4. 3D Reconstruction with Stereo Vision | OpenCV, SIFT, Triangulation | May 2023\n   Stereo vision system: camera calibration, SIFT matching, triangulation to 3D point clouds; Matplotlib visualization\n\n5. DeOldify: AI Image Colorization | PyTorch, GANs, FastAI | Jan 2023\n   GAN-based grayscale colorization for manga and historical photos; PyTorch + FastAI training; preprocessing for edge sharpness\n\n6. ASYEL: Sign Language Translation | LSTM, Time-Series, Pose Estimation | Apr 2022\n   Gesture-to-speech pipeline with LSTM sequence classification; custom recorded dataset; Won 2nd Prize National Innovation Competition\n\n7. Autonomous Safety & Fall Detection | Pose Estimation, Edge AI | Nov 2021\n   AI safety module using Skeleton Tracking for incident detection; human-in-the-loop OK gesture verification; 1st Prize Google DevFest Hackathon\n\n8. Real-Time Driver Monitoring (ADAS) | MediaPipe 3D, OpenCV | Sep 2021\n   Drowsiness/distraction detection via 3D Facial Mesh (468 landmarks); EAR and yawning analysis; Samsung Judges Favorite\n\nSKILLS (reorder by relevance, omit irrelevant categories):\n- Computer Vision & 3D: OpenCV, MediaPipe, YOLO/YOLOv8, EasyOCR, Optical Flow, Stereo Vision, Multi-view Geometry, Depth Estimation, SIFT\n- Deep Learning: PyTorch, TensorFlow, FastAI, CNNs (U-Net, ResNet), Vision Transformers, GANs, LSTMs, Custom Loss Design, Model Optimization\n- 3D Graphics & Sim: Blender (Procedural Gen, Python API, Physics), Unity, Unreal Engine, Ray Tracing\n- LLM & Agentic AI: Mistral AI API, Groq API, Gemini API, Prompt Engineering, LLM Integration, RAG, MCP (Model Context Protocol), Agentic Workflows, Claude Code\n- Automation & DevOps: n8n, Docker, Linux, AWS, CI/CD, Vim, Shell Scripting, Automation Pipelines\n- Software Engineering: Python (Expert), C++, C, TypeScript/JavaScript, Next.js, React Native, Node.js, Express.js, MongoDB, SQL, Git, ONNX\n- Data Science: NumPy, Pandas, Scikit-learn, Matplotlib, Seaborn, Jupyter\n\nRULES:\n- NEVER fabricate experience — only reframe and reorder existing achievements\n- Reorder experiences and projects by relevance to THIS job (most relevant first)\n- Pick 2-3 experiences and 2-3 projects MAX — omit the rest to keep the resume to one page\n- Reword bullet points to emphasize aspects relevant to the job (3-4 bullets per experience, 2-3 per project)\n- Reorder skills categories and items within them by relevance; omit irrelevant categories\n- Incorporate ATS keywords naturally into bullet points\n\nRespond ONLY with valid JSON:\n{\"company\": \"<company>\", \"role\": \"<title>\", \"ats_keywords\": [\"...\"], \"experiences\": [{\"title\": \"...\", \"dates\": \"...\", \"company\": \"...\", \"location\": \"...\", \"bullets\": [\"...\"]}], \"projects\": [{\"name\": \"...\", \"tech\": \"...\", \"dates\": \"...\", \"bullets\": [\"...\"]}], \"skills\": [{\"category\": \"...\", \"items\": \"...\"}]}`;\n\n  const messages = [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ];\n\n  // Try Groq first, fall back to Gemini 2.5 Flash Lite\n  async function callGroq(ctx) {\n    const body = { model: MODEL, messages, temperature: 0.3, response_format: { type: 'json_object' } };\n    const retryDelays = [5000, 15000];\n    for (let attempt = 0; attempt <= 2; attempt++) {\n      try {\n        const resp = await ctx.helpers.httpRequest({\n          method: 'POST', url: 'https://api.groq.com/openai/v1/chat/completions',\n          body, json: true,\n          headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${apiKey}` }\n        });\n        return resp.choices?.[0]?.message?.content;\n      } catch(e) {\n        if (e.message?.includes('429') && attempt < 2) { await new Promise(r => setTimeout(r, retryDelays[attempt])); continue; }\n        throw e;\n      }\n    }\n  }\n\n  async function callGemini(ctx) {\n    const geminiKey = $env.GEMINI_API_KEY;\n    if (!geminiKey) throw new Error('No GEMINI_API_KEY for fallback');\n    const body = {\n      contents: [{ parts: [{ text: systemPrompt + '\\n\\n' + userPrompt }] }],\n      generationConfig: { temperature: 0.3, responseMimeType: 'application/json' }\n    };\n    const resp = await ctx.helpers.httpRequest({\n      method: 'POST',\n      url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite-preview-06-17:generateContent?key=${geminiKey}`,\n      body, json: true, headers: { 'Content-Type': 'application/json' }\n    });\n    return resp.candidates?.[0]?.content?.parts?.[0]?.text;\n  }\n\n  let text;\n  try {\n    text = await callGroq.call(this, this);\n  } catch(groqErr) {\n    console.log('Groq failed (' + groqErr.message + '), falling back to Gemini 2.5 Flash Lite');\n    text = await callGemini.call(this, this);\n  }\n  if (!text) throw new Error('No response from any LLM');\n  const tailored = JSON.parse(text);\n  return { json: { ...job, tailored_resume: tailored } };\n}\n\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const result = await tailorJob.call(this, items[i]);\n  results.push(result);\n}\nreturn results;"
      },
      "id": "tailor_groq",
      "name": "Tailor Resume with Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Call the PDF microservice to generate the tailored resume PDF\nconst job = $input.item.json;\nconst tailored = job.tailored_resume;\n\nif (!tailored) throw new Error('No tailored_resume data found');\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://pdf-service:3456/',\n  body: JSON.stringify(tailored),\n  headers: { 'Content-Type': 'application/json' },\n  encoding: 'arraybuffer',\n  returnFullResponse: true\n});\n\nconst headers = response.headers || {};\nconst filename = headers['x-filename'] || `Riad_Boussoura_CV_${(job.company || 'Company').replace(/[^\\w-]/g, '_')}.pdf`;\nconst pdfBuffer = Buffer.isBuffer(response.body) ? response.body : Buffer.from(response.body);\n\nreturn {\n  json: {\n    ...job,\n    pdf_filename: filename\n  },\n  binary: {\n    data: await this.helpers.prepareBinaryData(pdfBuffer, filename, 'application/pdf')\n  }\n};"
      },
      "id": "generate_pdf",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        500
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.pdf_filename }}",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GDRIVE_FOLDER_ID }}"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "upload_drive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1800,
        500
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare simplified row for Google Sheet\nconst drive = $input.item.json;\nconst driveId = drive.id || drive.fileId || '';\n\nlet job = {};\ntry {\n  job = $('Generate PDF').item.json;\n} catch(e) {\n  try {\n    const allPdfItems = $('Generate PDF').all();\n    job = allPdfItems[$itemIndex]?.json || allPdfItems[0]?.json || {};\n  } catch(e2) {\n    console.log('[PrepareRow] WARNING: ' + e2.message);\n  }\n}\n\nreturn {\n  json: {\n    'Date': new Date().toISOString().split('T')[0],\n    'Company': job.company || '',\n    'Role': job.title || '',\n    'Location': job.location || '',\n    'Source': job.source || '',\n    'Date Posted': job.date_posted || '',\n    'Apply URL': job.url || '',\n    'Resume PDF': driveId ? `https://drive.google.com/file/d/${driveId}/view` : '',\n    'Status': 'New',\n    'Notes': ''\n  }\n};"
      },
      "id": "prepare_row",
      "name": "Prepare Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        500
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Job Tracker"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "write_sheet",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2300,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate all processed jobs into one summary email\nconst items = $('Prepare Sheet Row').all();\nif (items.length === 0) return [];\n\nconst date = new Date().toLocaleDateString('fr-FR');\n\nfunction formatPostedDate(raw) {\n  if (!raw) return '-';\n  // Handle relative strings like \"3 days ago\" or \"Mar 28\" from SerpAPI\n  if (isNaN(Date.parse(raw))) return raw;\n  const d = new Date(raw);\n  return d.toLocaleDateString('fr-FR') + ' ' + d.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n}\n\nconst rows = items.map(item => {\n  const d = item.json;\n  return `<tr>\n    <td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Company']}</td>\n    <td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Role']}</td>\n    <td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Location']}</td>\n    <td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${formatPostedDate(d['Date Posted'])}</td>\n    <td style=\"padding:6px 10px;border-bottom:1px solid #eee\"><a href=\"${d['Apply URL']}\">Apply</a></td>\n    <td style=\"padding:6px 10px;border-bottom:1px solid #eee\"><a href=\"${d['Resume PDF']}\">CV</a></td>\n  </tr>`;\n}).join('\n');\n\nreturn [{\n  json: {\n    emailSubject: `Job Pipeline: ${items.length} new jobs (${date})`,\n    emailBody: `<div style=\"font-family:Arial,sans-serif;max-width:800px\">\n<h2 style=\"color:#333\">Job Pipeline Run Summary</h2>\n<p><strong>${items.length}</strong> new jobs found and tailored resumes generated.</p>\n<table style=\"border-collapse:collapse;width:100%;font-size:14px\">\n  <tr style=\"background:#2d5016;color:white\">\n    <th style=\"padding:8px 10px;text-align:left\">Company</th>\n    <th style=\"padding:8px 10px;text-align:left\">Role</th>\n    <th style=\"padding:8px 10px;text-align:left\">Location</th>\n    <th style=\"padding:8px 10px;text-align:left\">Posted</th>\n    <th style=\"padding:8px 10px;text-align:left\">Apply</th>\n    <th style=\"padding:8px 10px;text-align:left\">Resume</th>\n  </tr>\n  ${rows}\n</table>\n<br>\n<p style=\"color:#888;font-size:12px\">Sent by your Job Search Automation Pipeline</p>\n</div>`\n  }\n}];"
      },
      "id": "summary_email_code",
      "name": "Build Summary Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2550,
        500
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send_summary",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2800,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// France Travail (Pole Emploi) — Official French job board\n// Register at https://francetravail.io for client credentials\nconst clientId = $env.FRANCE_TRAVAIL_CLIENT_ID;\nconst clientSecret = $env.FRANCE_TRAVAIL_CLIENT_SECRET;\n\nif (!clientId || !clientSecret) {\n  console.log('[FranceTravail] No credentials, skipping');\n  return [{ json: { results: [], count: 0 } }];\n}\n\n// Get OAuth2 token\nlet token;\ntry {\n  const authResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://entreprise.francetravail.fr/connexion/oauth2/access_token?realm=/partenaire',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: `grant_type=client_credentials&client_id=${encodeURIComponent(clientId)}&client_secret=${encodeURIComponent(clientSecret)}&scope=api_offresdemploiv2%20o2dsoffre`,\n  });\n  const parsed = typeof authResp === 'string' ? JSON.parse(authResp) : authResp;\n  token = parsed.access_token;\n} catch(e) {\n  console.log('[FranceTravail] Auth failed: ' + e.message);\n  return [{ json: { results: [], count: 0 } }];\n}\n\nconst queries = [\n  'computer vision',\n  'machine learning',\n  'deep learning',\n  'ingenieur logiciel'\n];\n\nconst allResults = [];\nfor (const q of queries) {\n  try {\n    const url = `https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search?motsCles=${encodeURIComponent(q)}&range=0-24&publieeDepuis=3`;\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: { 'Authorization': `Bearer ${token}` },\n      json: true\n    });\n    if (resp.resultats) allResults.push(...resp.resultats);\n  } catch(e) { /* skip */ }\n}\n\nreturn [{ json: { results: allResults, count: allResults.length } }];"
      },
      "id": "france_travail",
      "name": "France Travail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Remotive — Free remote tech jobs API (no auth needed)\nconst categories = ['software-dev', 'data'];\nconst allJobs = [];\nconst cutoff = Date.now() - 7 * 24 * 60 * 60 * 1000; // last 7 days\n\nfor (const cat of categories) {\n  try {\n    const url = `https://remotive.com/api/remote-jobs?category=${cat}&limit=50`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    if (resp.jobs) {\n      const recent = resp.jobs.filter(j => new Date(j.publication_date).getTime() >= cutoff);\n      allJobs.push(...recent);\n    }\n  } catch(e) { /* skip */ }\n}\n\nreturn [{ json: { jobs: allJobs, count: allJobs.length } }];"
      },
      "id": "remotive",
      "name": "Remotive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        600
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Arbeitnow — Free EU tech jobs API (no auth needed)\n// Keyword filter: keep only jobs matching our target domains\nconst KEYWORDS = [\n  'python', 'machine learning', 'deep learning', 'computer vision',\n  'artificial intelligence', ' ai ', 'pytorch', 'tensorflow', 'opencv',\n  'software engineer', 'software developer', 'backend', 'fullstack',\n  'full-stack', 'full stack', '3d', 'rendering', 'unity', 'unreal',\n  'blender', 'graphics', 'vision', 'image processing', 'mlops',\n  'data scientist', 'data engineer', 'neural network', 'nlp',\n  'r&d engineer', 'research engineer', 'algorithm'\n];\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.arbeitnow.com/api/job-board-api',\n    json: true\n  });\n  const cutoff = Math.floor(Date.now() / 1000) - 3 * 24 * 60 * 60;\n  const recent = (resp.data || []).filter(j => {\n    if (j.created_at < cutoff) return false;\n    const text = `${j.title || ''} ${j.description || ''} ${(j.tags || []).join(' ')}`.toLowerCase();\n    return KEYWORDS.some(kw => text.includes(kw));\n  });\n  return [{ json: { data: recent, count: recent.length } }];\n} catch(e) {\n  return [{ json: { data: [], count: 0 } }];\n}"
      },
      "id": "arbeitnow",
      "name": "Arbeitnow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        800
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// JSearch (RapidAPI) — Aggregates LinkedIn, Indeed, Glassdoor\n// Free tier: 500 req/month. Register at rapidapi.com\nconst apiKey = $env.RAPIDAPI_KEY;\n\nif (!apiKey) {\n  console.log('[JSearch] No RAPIDAPI_KEY set, skipping');\n  return [{ json: { data: [], count: 0 } }];\n}\n\nconst queries = [\n  'computer vision engineer in France',\n  'machine learning python developer in France'\n];\n\nconst allJobs = [];\nfor (const q of queries) {\n  try {\n    const url = `https://jsearch.p.rapidapi.com/search?query=${encodeURIComponent(q)}&page=1&num_pages=1&date_posted=3days`;\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: {\n        'X-RapidAPI-Key': apiKey,\n        'X-RapidAPI-Host': 'jsearch.p.rapidapi.com'\n      },\n      json: true\n    });\n    if (resp.data) allJobs.push(...resp.data);\n  } catch(e) { /* skip */ }\n}\n\nreturn [{ json: { data: allJobs, count: allJobs.length } }];"
      },
      "id": "jsearch",
      "name": "JSearch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        1000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 6
      },
      "id": "wait_sources",
      "name": "Wait for Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "wait_all",
      "name": "Wait for All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "Adzuna Job Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Jobs via SerpAPI",
            "type": "main",
            "index": 0
          },
          {
            "node": "France Travail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remotive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Arbeitnow",
            "type": "main",
            "index": 0
          },
          {
            "node": "JSearch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna Job Search": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Jobs via SerpAPI": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "France Travail": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Remotive": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Arbeitnow": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "JSearch": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Wait for Sources": {
      "main": [
        [
          {
            "node": "Normalize & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Deduplicate": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Jobs": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for All Data": {
      "main": [
        [
          {
            "node": "Filter Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Already Processed": {
      "main": [
        [
          {
            "node": "Tailor Resume with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tailor Resume with Groq": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Prepare Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Row": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheet": {
      "main": [
        [
          {
            "node": "Build Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Email": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "job-automation"
    },
    {
      "name": "production"
    }
  ],
  "triggerCount": 1
}