workflow/n8n_job_automation_workflow.json
{
  "name": "Job Search Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Run Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Adzuna — 250 req/month → run once daily at 8h\n// FR (3 queries) + rotating country (2 queries) = 5/day × 30 = 150/month\nconst hour = new Date().getHours();\nif (hour !== 8) return [{ json: { results: [], count: 0, _skipped: 'Adzuna: not scheduled this hour' } }];\n\nconst frQueries = ['administrateur systèmes', 'ingénieur devops', 'ingénieur devsecops', 'cloud engineer', 'administrateur linux', 'ingénieur réseau'];\nconst intlQueries = ['sysadmin', 'devops engineer', 'cloud engineer', 'network engineer'];\n\n// Rotate international country by day of week\nconst day = new Date().getDay();\nconst countries = { 0: 'gb', 1: 'de', 2: 'nl', 3: 'at', 4: 'us', 5: 'ca', 6: 'au' };\nconst intlCountry = countries[day];\n\nconst appId = $env.ADZUNA_APP_ID;\nconst appKey = $env.ADZUNA_KEY;\nconst allResults = [];\n\n// France\nfor (const q of frQueries) {\n  try {\n    const url = `https://api.adzuna.com/v1/api/jobs/fr/search/1?app_id=${appId}&app_key=${appKey}&results_per_page=20&what=${encodeURIComponent(q)}&max_days_old=3&content-type=application/json`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    if (resp.results) allResults.push(...resp.results);\n  } catch(e) {}\n}\n\n// Rotating international\nconsole.log(`[Adzuna] Rotating country today: ${intlCountry}`);\nfor (const q of intlQueries) {\n  try {\n    const url = `https://api.adzuna.com/v1/api/jobs/${intlCountry}/search/1?app_id=${appId}&app_key=${appKey}&results_per_page=20&what=${encodeURIComponent(q)}&max_days_old=3&content-type=application/json`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    if (resp.results) allResults.push(...resp.results);\n  } catch(e) {}\n}\n\nreturn [{ json: { results: allResults, count: allResults.length } }];"
      },
      "id": "adzuna",
      "name": "Adzuna Job Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// SerpAPI — 100 req/month, 3 queries/run → run once daily at 20h\n// 3-day cycle: FR → CH → UK → FR → ... = 3/day × 30 = 90/month\nconst hour = new Date().getHours();\nif (hour !== 20) return [{ json: { jobs_results: [], count: 0, _skipped: 'SerpAPI: not scheduled this hour' } }];\n\nconst day = new Date().getDay();\nconst locations = [\n  { location: 'Paris,+France', gl: 'fr', hl: 'fr' },\n  { location: 'Zurich,+Switzerland', gl: 'ch', hl: 'en' },\n  { location: 'London,+United+Kingdom', gl: 'gb', hl: 'en' }\n];\nconst loc = locations[day % 3];\nconsole.log(`[SerpAPI] Searching: ${loc.location}`);\n\nconst queries = [\n  'administrateur systèmes réseaux junior',\n  'ingénieur devops junior',\n  'cloud engineer',\n];\n\nconst apiKey = $env.SERPAPI_KEY;\nconst allJobs = [];\n\nfor (const q of queries) {\n  try {\n    const url = `https://serpapi.com/search.json?engine=google_jobs&q=${encodeURIComponent(q)}&location=${loc.location}&hl=${loc.hl}&gl=${loc.gl}&chips=date_posted:3days&api_key=${apiKey}`;\n    const response = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    if (response.jobs_results) {\n      allJobs.push(...response.jobs_results);\n    }\n  } catch(e) {\n    // Skip failed queries\n  }\n}\n\nreturn [{ json: { jobs_results: allJobs, count: allJobs.length } }];"
      },
      "id": "serpapi",
      "name": "Google Jobs via SerpAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normalize jobs from all 6 sources into a common format\nlet adzunaItems = [];\ntry { adzunaItems = $('Adzuna Job Search').first().json.results || []; } catch(e) {}\nlet serpItems = [];\ntry { serpItems = $('Google Jobs via SerpAPI').first().json.jobs_results || []; } catch(e) {}\nlet ftItems = [];\ntry { ftItems = $('France Travail').first().json.results || []; } catch(e) {}\nlet remotiveItems = [];\ntry { remotiveItems = $('Remotive').first().json.jobs || []; } catch(e) {}\nlet arbeitnowItems = [];\ntry { arbeitnowItems = $('Arbeitnow').first().json.data || []; } catch(e) {}\nlet jsearchItems = [];\ntry { jsearchItems = $('JSearch').first().json.data || []; } catch(e) {}\n\nconst jobs = [];\nconst seen = new Set();\n\nfunction dedupKey(title, company) {\n  return `${(title || '').toLowerCase().trim()}|${(company || '').toLowerCase().trim()}`;\n}\n\n// Adzuna\nfor (const job of adzunaItems) {\n  const key = dedupKey(job.title, job.company?.display_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company?.display_name || '',\n    location: job.location?.display_name || '',\n    description: job.description || '',\n    url: job.redirect_url || '',\n    salary_min: job.salary_min || null,\n    salary_max: job.salary_max || null,\n    source: 'Adzuna',\n    date_posted: job.created || '',\n  });\n}\n\n// Google Jobs (SerpAPI)\nfor (const job of serpItems) {\n  const key = dedupKey(job.title, job.company_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company_name || '',\n    location: job.location || '',\n    description: job.description || '',\n    url: job.apply_options?.[0]?.link || job.share_link || '',\n    salary_min: null,\n    salary_max: null,\n    salary_text: job.detected_extensions?.salary || null,\n    source: 'Google Jobs',\n    date_posted: job.detected_extensions?.posted_at || '',\n  });\n}\n\n// France Travail\nfor (const job of ftItems) {\n  const key = dedupKey(job.intitule, job.entreprise?.nom);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.intitule || '',\n    company: job.entreprise?.nom || '',\n    location: job.lieuTravail?.libelle || '',\n    description: job.description || '',\n    url: job.origineOffre?.urlOrigine || `https://candidat.francetravail.fr/offres/recherche/detail/${job.id}`,\n    salary_min: null,\n    salary_max: null,\n    salary_text: job.salaire?.libelle || null,\n    source: 'France Travail',\n    date_posted: job.dateCreation || '',\n  });\n}\n\n// Remotive\nfor (const job of remotiveItems) {\n  const key = dedupKey(job.title, job.company_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company_name || '',\n    location: job.candidate_required_location || 'Remote',\n    description: job.description || '',\n    url: job.url || '',\n    salary_min: null,\n    salary_max: null,\n    salary_text: job.salary || null,\n    source: 'Remotive',\n    date_posted: job.publication_date || '',\n  });\n}\n\n// Arbeitnow\nfor (const job of arbeitnowItems) {\n  const key = dedupKey(job.title, job.company_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.title || '',\n    company: job.company_name || '',\n    location: job.location || (job.remote ? 'Remote' : ''),\n    description: job.description || '',\n    url: job.url || `https://www.arbeitnow.com/view/${job.slug}`,\n    salary_min: null,\n    salary_max: null,\n    source: 'Arbeitnow',\n    date_posted: job.created_at ? new Date(job.created_at * 1000).toISOString() : '',\n  });\n}\n\n// JSearch (LinkedIn, Indeed, Glassdoor aggregated)\nfor (const job of jsearchItems) {\n  const key = dedupKey(job.job_title, job.employer_name);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  jobs.push({\n    title: job.job_title || '',\n    company: job.employer_name || '',\n    location: [job.job_city, job.job_state, job.job_country].filter(Boolean).join(', '),\n    description: job.job_description || '',\n    url: job.job_apply_link || '',\n    salary_min: job.job_min_salary || null,\n    salary_max: job.job_max_salary || null,\n    source: 'JSearch',\n    date_posted: job.job_posted_at_datetime_utc || '',\n  });\n}\n\nconsole.log(`[Normalize] Adzuna(${adzunaItems.length}) SerpAPI(${serpItems.length}) FranceTravail(${ftItems.length}) Remotive(${remotiveItems.length}) Arbeitnow(${arbeitnowItems.length}) JSearch(${jsearchItems.length}) => ${jobs.length} unique`);\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "normalize",
      "name": "Normalize & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Job Tracker"
        },
        "options": {}
      },
      "id": "read_sheet",
      "name": "Read Existing Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        650,
        1100
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter out already-processed jobs + deduplicate within batch\n\n// Build dedup set from existing sheet rows\nconst existingKeys = new Set();\nlet sheetRowCount = 0;\n\ntry {\n  const sheetItems = $('Read Existing Jobs').all();\n  sheetRowCount = sheetItems.length;\n  for (const item of sheetItems) {\n    const d = item.json;\n    if (!d || Object.keys(d).length === 0) continue;\n    const role = String(d['Role'] || d['role'] || '').toLowerCase().trim();\n    const company = String(d['Company'] || d['company'] || '').toLowerCase().trim();\n    const location = String(d['Location'] || d['location'] || '').toLowerCase().trim();\n    if (role || company) existingKeys.add(`${role}|${company}|${location}`);\n  }\n} catch(e) {\n  console.log('[Filter] WARNING: Could not read existing jobs: ' + e.message);\n}\n\nconst allNormalized = $('Normalize & Deduplicate').all();\n\n// Deduplicate WITHIN this batch (Normalize may run multiple times due to n8n\n// executing once per source connection — this removes the duplicates)\nconst batchSeen = new Set();\nconst newJobs = allNormalized.filter(item => {\n  const j = item.json;\n  const key = `${(j.title || '').toLowerCase().trim()}|${(j.company || '').toLowerCase().trim()}|${(j.location || '').toLowerCase().trim()}`;\n\n  // Skip duplicates within this batch\n  if (batchSeen.has(key)) return false;\n  batchSeen.add(key);\n\n  // Skip if already in sheet\n  if (existingKeys.has(key)) return false;\n  return true;\n});\n\nconsole.log(`[Filter] Input: ${allNormalized.length} (with dupes) | Unique: ${batchSeen.size} | In sheet: ${existingKeys.size} | New: ${newJobs.length}`);\n\nif (newJobs.length === 0) return [];\nreturn newJobs;"
      },
      "id": "filter_existing",
      "name": "Filter Already Processed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── Regex-based Role Categorization & Scoring (no LLM) ──────────────────────\nconst job = $input.item.json;\nconst title = (job.title || '').toLowerCase();\nconst desc = (job.description || '').toLowerCase();\nconst text = title + ' ' + desc;\n\n// ── 1. Categorize by keywords (checked in priority order) ───────────────────\nconst categories = [\n  {\n    name: 'DevOps / DevSecOps',\n    keywords: ['devops', 'devsecops', 'ci/cd', 'kubernetes', 'docker', 'ansible', 'terraform', 'jenkins', 'gitlab', 'pipeline', 'sre', 'site reliability'],\n    titleKeywords: ['devops', 'devsecops', 'sre']\n  },\n  {\n    name: 'Cloud Engineer',\n    keywords: ['cloud', 'aws', 'azure', 'gcp', 'terraform', 'finops', 'architecte cloud'],\n    titleKeywords: ['cloud', 'aws', 'azure', 'gcp', 'terraform']\n  },\n  {\n    name: 'Administrateur Systeme/Linux',\n    keywords: ['sysadmin', 'administrateur système', 'administrateur systeme', 'administrateur linux', 'linux', 'ubuntu', 'debian', 'redhat', 'centos', 'windows server', 'active directory'],\n    titleKeywords: ['administrateur', 'sysadmin', 'linux', 'windows server']\n  },\n  {\n    name: 'Ingenieur Reseau',\n    keywords: ['réseau', 'reseau', 'network', 'cisco', 'fortinet', 'palo alto', 'firewall', 'switch', 'routeur', 'tcp/ip', 'bgp', 'ospf', 'vpn'],\n    titleKeywords: ['réseau', 'reseau', 'network']\n  },\n  {\n    name: 'Consultant Infrastructure',\n    keywords: ['infrastructure', 'infra', 'virtualisation', 'vmware', 'proxmox', 'hyper-v', 'stockage', 'sauvegarde', 'veeam'],\n    titleKeywords: ['infrastructure', 'infra', 'virtualisation', 'systemes']\n  }\n];\n\nlet roleCategory = 'IT Support / Autres'; // fallback\n\n// Title-based match has priority (more precise)\nfor (const cat of categories) {\n  if (cat.titleKeywords.some(kw => title.includes(kw))) {\n    roleCategory = cat.name;\n    break;\n  }\n}\n// If still fallback, try description keywords\nif (roleCategory === 'IT Support / Autres') {\n  for (const cat of categories) {\n    const matchCount = cat.keywords.filter(kw => text.includes(kw)).length;\n    if (matchCount >= 2) {\n      roleCategory = cat.name;\n      break;\n    }\n  }\n}\n\n// ── 2. Score: role relevance (higher = more relevant to my profile) ─────────\nconst roleScores = {\n  'DevOps / DevSecOps': 8,\n  'Cloud Engineer': 7,\n  'Administrateur Systeme/Linux': 6,\n  'Ingenieur Reseau': 5,\n  'Consultant Infrastructure': 5,\n  'IT Support / Autres': 2\n};\nlet score = roleScores[roleCategory] || 2;\n\n// Contract type bonus/penalty\nconst contractPatterns = {\n  cdi: /\\b(cdi|full[- ]?time|permanent|unbefristet|temps plein|ind\\u00e9termin\\u00e9e?)\\b/i,\n  cdd: /\\b(cdd|fixed[- ]?term|d\\u00e9termin\\u00e9e?|temporary|temporaire)\\b/i,\n  freelance: /\\b(freelance|free[- ]?lance|ind\\u00e9pendant|auto[- ]?entrepreneur|mission)\\b/i,\n  intern: /\\b(stage|stagiaire|intern(ship)?|alternance|apprenti(ce|ssage)?|werkstudent|pratique)\\b/i\n};\n\nlet contractType = 'CDI';\nif (contractPatterns.intern.test(text)) {\n  contractType = 'Stage/Alternance';\n  score -= 1;\n} else if (contractPatterns.cdd.test(text)) {\n  contractType = 'CDD';\n} else if (contractPatterns.freelance.test(text)) {\n  contractType = 'Freelance';\n} else {\n  score += 2;\n}\n\n\n// ── 3. Seniority modifier ─────────────────────────────────────────────\nconst juniorPattern = /\\b(junior|jr\\.?|d\\u00e9butant|entry[- ]?level|fresh[- ]?graduate|jeune[- ]?diplom\\u00e9|recent[- ]?graduate|berufseinsteiger)\\b/i;\nconst seniorTitlePattern = /\\b(senior|sr\\.|principal|staff|lead|expert|director|head\\s+of|architect)\\b/i;\nconst seniorDescPattern = /\\b(profil\\s+confirm\\u00e9|confirm\\u00e9e?\\s+(?:en|dans)|exp\\u00e9riment\\u00e9e?)\\b/i;\n\nlet seniority = 'Unspecified';\nif (juniorPattern.test(text)) {\n  seniority = 'Junior';\n  score += 3;\n} else if (seniorTitlePattern.test(title) || seniorDescPattern.test(text)) {\n  seniority = 'Senior';\n  score -= 2;\n}\n\n// Location bonus: Paris > France > Europe > rest\nconst loc = (job.location || '').toLowerCase();\nif (/paris|ile.de.france|idf|hauts.de.seine|92|75|la d\\u00e9fense|boulogne|nanterre|levallois|puteaux|issy/i.test(loc)) {\n  score += 3;\n} else if (/france|lyon|marseille|toulouse|bordeaux|nantes|strasbourg|lille|montpellier|grenoble|nice/i.test(loc)) {\n  score += 2;\n} else if (/suisse|switzerland|zurich|z\\u00fcrich|geneva|gen\\u00e8ve|bern|basel|lausanne|uk|london|berlin|amsterdam|dublin|munich|m\\u00fcnchen|remote/i.test(loc)) {\n  score += 1;\n}\n\n// Clamp to 1-15\nscore = Math.max(1, Math.min(15, score));\n\n// ── 3. Map category to pre-made resume Drive link ───────────────────────────\nconst resumeLinks = {\n  'DevOps / DevSecOps': $env.CV_LINK_DEVOPS || '',\n  'Cloud Engineer': $env.CV_LINK_CLOUD || '',\n  'Administrateur Systeme/Linux': $env.CV_LINK_SYSADMIN || '',\n  'Ingenieur Reseau': $env.CV_LINK_NETWORK || '',\n  'Consultant Infrastructure': $env.CV_LINK_INFRA || '',\n  'IT Support / Autres': $env.CV_LINK_SUPPORT || ''\n};\n\nreturn {\n  json: {\n    ...job,\n    role_category: roleCategory,\n    contract_type: contractType,\n    relevance_score: score,\n    seniority: seniority,\n    resume_link: resumeLinks[roleCategory]\n  }\n};"
      },
      "id": "categorize_score",
      "name": "Categorize & Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare row for Google Sheet with category and score\nconst job = $input.item.json;\n\n// Format: yyyy-mm-dd hh:MM\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst hours = String(now.getHours()).padStart(2, '0');\nconst minutes = String(now.getMinutes()).padStart(2, '0');\nconst dateTime = `${year}-${month}-${day} ${hours}:${minutes}`;\n\nreturn {\n  json: {\n    'Date': dateTime,\n    'Company': job.company || '',\n    'Role': job.title || '',\n    'Location': job.location || '',\n    'Source': job.source || '',\n    'Date Posted': job.date_posted || '',\n    'Apply URL': job.url || '',\n    'Role Category': job.role_category || '',\n    'Contract Type': job.contract_type || '',\n    'Score': job.relevance_score || 0,\n    'Resume PDF': job.resume_link || '',\n    'Status': 'New',\n    'Notes': ''\n  }\n};"
      },
      "id": "prepare_row",
      "name": "Prepare Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        500
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Job Tracker"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "write_sheet",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2300,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Job Tracker"
        },
        "options": {}
      },
      "id": "read_today_jobs",
      "name": "Read Today Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        250,
        1250
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Daily digest — fires at Paris midnight, summarizes the day that just ended\nconst parisParts = new Intl.DateTimeFormat('en-CA', { timeZone: 'Europe/Paris', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', hour12: false }).formatToParts(new Date());\nconst p = Object.fromEntries(parisParts.map(x => [x.type, x.value]));\nif (Number(p.hour) % 24 !== 0) return [];\n\n// Summarize yesterday in Paris\nconst yesterday = new Date(`${p.year}-${p.month}-${p.day}T00:00:00Z`);\nyesterday.setUTCDate(yesterday.getUTCDate() - 1);\nconst todayPrefix = `${yesterday.getUTCFullYear()}-${String(yesterday.getUTCMonth() + 1).padStart(2, '0')}-${String(yesterday.getUTCDate()).padStart(2, '0')}`;\n\n// Filter sheet rows to only yesterday's entries\nconst allRows = $input.all();\nconst items = allRows.filter(item => {\n  const date = (item.json['Date'] || '').toString();\n  return date.startsWith(todayPrefix);\n});\n\nif (items.length === 0) return [];\n\nconst date = `${yesterday.getUTCDate()}/${yesterday.getUTCMonth() + 1}/${yesterday.getUTCFullYear()}`;\n\n// Sort by score descending\nconst sorted = [...items].sort((a, b) => (Number(b.json['Score']) || 0) - (Number(a.json['Score']) || 0));\n\nfunction scoreColor(s) {\n  if (s >= 11) return '#2d5016';\n  if (s >= 7) return '#b8860b';\n  return '#888';\n}\n\nconst rows = sorted.map(item => {\n  const d = item.json;\n  const s = Number(d['Score']) || 0;\n  return `<tr><td style=\"padding:6px 10px;border-bottom:1px solid #eee\"><strong style=\"color:${scoreColor(s)}\">${s}/15</strong></td><td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Role Category'] || '-'}</td><td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Company'] || '-'}</td><td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Role'] || '-'}</td><td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Location'] || '-'}</td><td style=\"padding:6px 10px;border-bottom:1px solid #eee\">${d['Contract Type'] || '-'}</td><td style=\"padding:6px 10px;border-bottom:1px solid #eee\"><a href=\"${d['Apply URL']}\">${d['Apply URL'] ? 'Apply' : '-'}</a></td></tr>`;\n}).join('');\n\nreturn [{\n  json: {\n    emailSubject: `Job Pipeline Daily Summary: ${items.length} jobs found (${date})`,\n    emailBody: `<div style=\"font-family:Arial,sans-serif;max-width:900px\"><h2 style=\"color:#333\">Daily Job Pipeline Summary</h2><p><strong>${items.length}</strong> jobs found across all runs today (${date}), sorted by relevance score.</p><table style=\"border-collapse:collapse;width:100%;font-size:14px\"><tr style=\"background:#2d5016;color:white\"><th style=\"padding:8px 10px;text-align:left\">Score</th><th style=\"padding:8px 10px;text-align:left\">Category</th><th style=\"padding:8px 10px;text-align:left\">Company</th><th style=\"padding:8px 10px;text-align:left\">Role</th><th style=\"padding:8px 10px;text-align:left\">Location</th><th style=\"padding:8px 10px;text-align:left\">Contract</th><th style=\"padding:8px 10px;text-align:left\">Apply</th></tr>${rows}</table><br><p style=\"color:#888;font-size:12px\">Sent by your Job Search Automation Pipeline</p></div>`\n  }\n}];"
      },
      "id": "summary_email_code",
      "name": "Build Summary Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1250
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send_summary",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        750,
        1250
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Immediate alert for high-priority jobs (score > 11)\nconst items = $('Categorize & Score').all();\nconst highPriority = items.filter(i => (i.json.relevance_score || 0) > 11);\n\nif (highPriority.length === 0) return [];\n\nconst date = new Date().toLocaleDateString('fr-FR');\nconst time = new Date().toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n\nconst rows = highPriority\n  .sort((a, b) => (b.json.relevance_score || 0) - (a.json.relevance_score || 0))\n  .map(item => {\n    const j = item.json;\n    const s = j.relevance_score || 0;\n    return `<tr><td style=\"padding:8px 12px;border-bottom:1px solid #eee\"><strong style=\"color:#2d5016\">${s}/15</strong></td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${j.role_category || '-'}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${j.company || '-'}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${j.title || '-'}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${j.location || '-'}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${j.contract_type || '-'}</td><td style=\"padding:8px 12px;border-bottom:1px solid #eee\"><a href=\"${j.url}\" style=\"color:#2d5016;font-weight:bold\">Apply Now</a></td></tr>`;\n  }).join('');\n\nreturn [{\n  json: {\n    emailSubject: `🔥 ${highPriority.length} High-Priority Job${highPriority.length > 1 ? 's' : ''} Found! (${date} ${time})`,\n    emailBody: `<div style=\"font-family:Arial,sans-serif;max-width:900px\"><h2 style=\"color:#2d5016\">🔥 High-Priority Match${highPriority.length > 1 ? 'es' : ''}</h2><p>${highPriority.length} job${highPriority.length > 1 ? 's' : ''} scored <strong>above 11/15</strong> — these are strong matches for your profile.</p><table style=\"border-collapse:collapse;width:100%;font-size:14px\"><tr style=\"background:#2d5016;color:white\"><th style=\"padding:8px 12px;text-align:left\">Score</th><th style=\"padding:8px 12px;text-align:left\">Category</th><th style=\"padding:8px 12px;text-align:left\">Company</th><th style=\"padding:8px 12px;text-align:left\">Role</th><th style=\"padding:8px 12px;text-align:left\">Location</th><th style=\"padding:8px 12px;text-align:left\">Contract</th><th style=\"padding:8px 12px;text-align:left\">Apply</th></tr>${rows}</table><br><p style=\"color:#888;font-size:12px\">Sent immediately by your Job Search Automation Pipeline</p></div>`\n  }\n}];"
      },
      "id": "high_priority_alert",
      "name": "Build High Priority Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send_high_priority",
      "name": "Send High Priority Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1800,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// France Travail (Pole Emploi) — Official French job board\n// Register at https://francetravail.io for client credentials\nconst clientId = $env.FRANCE_TRAVAIL_CLIENT_ID;\nconst clientSecret = $env.FRANCE_TRAVAIL_CLIENT_SECRET;\n\nif (!clientId || !clientSecret) {\n  console.log('[FranceTravail] No credentials, skipping');\n  return [{ json: { results: [], count: 0 } }];\n}\n\n// Get OAuth2 token\nlet token;\ntry {\n  const authResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://entreprise.francetravail.fr/connexion/oauth2/access_token?realm=/partenaire',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: `grant_type=client_credentials&client_id=${encodeURIComponent(clientId)}&client_secret=${encodeURIComponent(clientSecret)}&scope=api_offresdemploiv2%20o2dsoffre`,\n  });\n  const parsed = typeof authResp === 'string' ? JSON.parse(authResp) : authResp;\n  token = parsed.access_token;\n} catch(e) {\n  console.log('[FranceTravail] Auth failed: ' + e.message);\n  return [{ json: { results: [], count: 0 } }];\n}\n\nconst queries = [\n  'administrateur systems',\n  'ingenieur devops',\n  'cloud engineer',\n  'administrateur reseau',\n  'administrateur linux',\n  'ingénieur réseau',\n  'consultant infrastructure',\n  'sysadmin'\n];\n\nconst allResults = [];\nfor (const q of queries) {\n  try {\n    const url = `https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search?motsCles=${encodeURIComponent(q)}&range=0-24&publieeDepuis=3`;\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: { 'Authorization': `Bearer ${token}` },\n      json: true\n    });\n    if (resp.resultats) allResults.push(...resp.resultats);\n  } catch(e) { /* skip */ }\n}\n\nreturn [{ json: { results: allResults, count: allResults.length } }];"
      },
      "id": "france_travail",
      "name": "France Travail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Remotive — Free remote tech jobs API (no auth needed)\nconst categories = ['software-dev', 'data'];\nconst allJobs = [];\nconst cutoff = Date.now() - 7 * 24 * 60 * 60 * 1000; // last 7 days\n\nfor (const cat of categories) {\n  try {\n    const url = `https://remotive.com/api/remote-jobs?category=${cat}&limit=50`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    if (resp.jobs) {\n      const recent = resp.jobs.filter(j => new Date(j.publication_date).getTime() >= cutoff);\n      allJobs.push(...recent);\n    }\n  } catch(e) { /* skip */ }\n}\n\nreturn [{ json: { jobs: allJobs, count: allJobs.length } }];"
      },
      "id": "remotive",
      "name": "Remotive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        600
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Arbeitnow — Free EU tech jobs API (no auth needed)\n// Strict filter: focus on Junior IT Infrastructure roles\n\nconst REQUIRED_TITLE_KEYWORDS = ['administrateur', 'sysadmin', 'devops', 'réseau', 'network engineer', 'cloud', 'infrastructure', 'system administrator'];\n\nconst REQUIRED_STACK_KEYWORDS = ['linux', 'windows', 'cisco', 'docker', 'kubernetes', 'aws', 'azure', 'terraform', 'vmware', 'ansible'];\n\nconst EXCLUDE_TITLE_KEYWORDS = [\n  'copywriter', 'content', 'social media', 'community manager',\n  'customer success', 'account manager', 'sales', 'vertrieb',\n  'außendienst', 'closer', 'chatsetter', 'country manager',\n  'assistenz', 'werkstudent', 'praktikum', 'intern', 'grocery associate'\n];\n\nconst EXCLUDE_DESC_KEYWORDS = [\n  'customer success', 'social media', 'copywriting', 'outbound sales',\n  'inside sales', 'field sales', 'account executive', 'business development'\n];\n\nfunction hasAny(text, words) {\n  return words.some(w => text.includes(w));\n}\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.arbeitnow.com/api/job-board-api',\n    json: true\n  });\n\n  const cutoff = Math.floor(Date.now() / 1000) - 3 * 24 * 60 * 60;\n\n  const filtered = (resp.data || []).filter(j => {\n    if (j.created_at < cutoff) return false;\n\n    const title = (j.title || '').toLowerCase();\n    const desc = (j.description || '').toLowerCase();\n    const tags = ((j.tags || []).join(' ') || '').toLowerCase();\n    const text = `${title} ${desc} ${tags}`;\n\n    // Hard reject obvious non-target profiles\n    if (hasAny(title, EXCLUDE_TITLE_KEYWORDS) || hasAny(desc, EXCLUDE_DESC_KEYWORDS)) return false;\n\n    // Strong accept: explicit target role in title\n    if (hasAny(title, REQUIRED_TITLE_KEYWORDS)) return true;\n\n    // Secondary accept: IT stack density + engineering signal in title\n    const stackHits = REQUIRED_STACK_KEYWORDS.filter(k => text.includes(k)).length;\n    const hasEngineerSignal = /\\b(administrateur|engineer|technicien|consultant|ingénieur|sysadmin|devops|support)\\b/i.test(title);\n\n    return hasEngineerSignal && stackHits >= 2;\n  });\n\n  return [{ json: { data: filtered, count: filtered.length } }];\n} catch(e) {\n  return [{ json: { data: [], count: 0 } }];\n}"
      },
      "id": "arbeitnow",
      "name": "Arbeitnow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        800
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// JSearch (RapidAPI) — 500 req/month, 2 queries/run → run every 3h\nconst hour = new Date().getHours();\nif (hour % 3 !== 0) return [{ json: { data: [], count: 0, _skipped: 'JSearch: not scheduled this hour' } }];\n\nconst apiKey = $env.RAPIDAPI_KEY;\n\nif (!apiKey) {\n  console.log('[JSearch] No RAPIDAPI_KEY set, skipping');\n  return [{ json: { data: [], count: 0 } }];\n}\n\n// Rotate queries across regions\nconst regionSets = [\n  ['administrateur systeme in France', 'ingénieur reseau in France'],\n  ['devops engineer in France', 'cloud engineer in France'],\n  ['system administrator in France', 'sysadmin in France'],\n  ['technicien informatique in France', 'support IT in France'],\n  ['administrateur reseau in France', 'technicien reseau in France'],\n  ['cloud architect in France', 'SRE engineer in France'],\n  ['ingénieur système in France', 'linux administrator in France'],\n  ['windows administrator in France', 'infrastructure engineer in France']\n];\nconst queries = regionSets[Math.floor(hour / 3) % regionSets.length];\n\nconst allJobs = [];\nfor (const q of queries) {\n  try {\n    const url = `https://jsearch.p.rapidapi.com/search?query=${encodeURIComponent(q)}&page=1&num_pages=1&date_posted=3days`;\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: {\n        'X-RapidAPI-Key': apiKey,\n        'X-RapidAPI-Host': 'jsearch.p.rapidapi.com'\n      },\n      json: true\n    });\n    if (resp.data) allJobs.push(...resp.data);\n  } catch(e) { /* skip */ }\n}\n\nreturn [{ json: { data: allJobs, count: allJobs.length } }];"
      },
      "id": "jsearch",
      "name": "JSearch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        1000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 6
      },
      "id": "wait_sources",
      "name": "Wait for Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "wait_all",
      "name": "Wait for All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Run Every Hour": {
      "main": [
        [
          {
            "node": "Adzuna Job Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Jobs via SerpAPI",
            "type": "main",
            "index": 0
          },
          {
            "node": "France Travail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remotive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Arbeitnow",
            "type": "main",
            "index": 0
          },
          {
            "node": "JSearch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Today Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna Job Search": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Jobs via SerpAPI": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "France Travail": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Remotive": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Arbeitnow": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "JSearch": {
      "main": [
        [
          {
            "node": "Wait for Sources",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Wait for Sources": {
      "main": [
        [
          {
            "node": "Normalize & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Deduplicate": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Jobs": {
      "main": [
        [
          {
            "node": "Wait for All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for All Data": {
      "main": [
        [
          {
            "node": "Filter Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Already Processed": {
      "main": [
        [
          {
            "node": "Categorize & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize & Score": {
      "main": [
        [
          {
            "node": "Prepare Sheet Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build High Priority Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build High Priority Alert": {
      "main": [
        [
          {
            "node": "Send High Priority Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Row": {
      "main": [
        [
          {
            "node": "Log to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today Jobs": {
      "main": [
        [
          {
            "node": "Build Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Email": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "job-automation"
    },
    {
      "name": "production"
    }
  ],
  "triggerCount": 1
}
